{% extends "base.html" %}
{% block content %}

<section class="hero small">
 <div class="container">
   <h1>Enterprise</h1>
 </div>
</section>

<section class="section">
 <div class="container narrow">

   <p>
   GuardFlo offers dedicated infrastructure and advanced compliance
   tooling for companies operating high-volume automated financial systems.
   </p>

   <h2>Contact Enterprise Sales</h2>

   <form>

     <input type="text" placeholder="Company Name"><br><br>
     <input type="email" placeholder="Work Email"><br><br>

     <textarea placeholder="Describe your enforcement requirements"></textarea><br><br>

     <button class="btn-primary">Request Consultation</button>

   </form>

 </div>
</section>

{% endblock %}